<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.quikkly.android.sample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScanCameraActivity"
            android:label="Scan Image"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ScanImageActivity"
            android:label="Scan Image"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".RenderActivity"
            android:label="Generate"
            android:screenOrientation="portrait"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.quikkly.android.sample.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>